table, td{
    border-collapse: collapse;
}

td {
    padding: 15px;
    text-align: left;
}

.table1 {
    margin-top: 200;
    border-spacing: 10%;
    width: 100%;
    background-color: #666;

}

.RIGHT {
    color: #fff;
    font-size: 20px;
    width: 400px;
    text-align: right;
    letter-spacing: 4px;
    line-height: 35px;
    text-justify: inter-word;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 0;
}

.LEFT {
    color: #fff;
    font-size: 200;
    letter-spacing: -15px;
    margin-left: 65;
    font-weight: 0;
    font-family: Monospace;
    padding-left: 30px;
    padding-top: 25px;
}