table, td{
    border-collapse: collapse;
}

td {
    padding: 15px;
    text-align: left;
}

.table1 {
    margin-top: 200;
    margin-bottom: 250px;
    border-spacing: 10%;
    width: 100%;
    background-color: #666;

}

.tablecontent1, .tablecontent2, .tablecontent3 {
    color: #fff;
    font-size: 20px;
    width: 650px;
    text-align: left;
    letter-spacing: 2px;
    line-height: 35px;
    text-justify: inter-word;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 0;
	border-collapse: collapse;

	margin: 30px;
}

.p1table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 700px;
}

.p1td, .p1th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
	background-color: #999;
}


.p1-2table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 700px;
	margin: 10px;
	margin-left: 1px;
}

.p1-2td, .p1-2th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
	background-color: #999;
}

.img1-1, .img1-2, .img1-3, .img2-1, .img2-2, .img2-3, .img3-1, .img3-2 {
	width: 320px;
}

/*--------------------------------*/

.table2 {
    margin-top: 200;
    margin-bottom: 250px;
    border-spacing: 10%;
    width: 100%;
    background-color: #999;
}

/* .tablecontent2 {
    color: #fff;
    font-size: 20px;
    width: 650px;
    text-align: left;
    letter-spacing: 4px;
    line-height: 35px;
    text-justify: inter-word;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 0;
	border-collapse: collapse;
} */

.p2table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 700px;
}

.p2td, .p2th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
	background-color: #d9d9d9;
}

.p2-2table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 700px;
}

.p2-2td, .p2-2th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
	background-color: #d9d9d9;
}


/*--------------------------------*/


.table3 {
    margin-top: 200;
    margin-bottom: 250px;
    border-spacing: 10%;
    width: 100%;
    background-color: #d9d9d9;
    
}

/* .tablecontent3 {
    color: #fff;
    font-size: 20px;
    width: 650px;
    text-align: left;
    letter-spacing: 4px;
    line-height: 35px;
    text-justify: inter-word;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 0;
	border-collapse: collapse;
} */

.p3table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 700px;
}

.p3td, .p3th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
	background-color: #fff;
}

.p3-2table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 700px;
}

.p3-2td, .p3-2th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
	background-color: #fff;
}


.imagecontainer {
	background-color: #fff;
}